body {
  margin: 0; 
  font-family: "aeonik_trialregular";

} 
:root {

  --primaryBackground: #e9ecef;
  --secondaryBackground: #FFFFFF;
  --primaryText: #847E7C;
  --highlightText: #0030E0;
  --secondaryText: #061237; 
  --contrastColor: #f6285f; 
  --successColor: #12A58C
  
}


.flexCenter{
  display: flex;
  justify-content: center;
  align-self: center;
}
